@(ruleForm: Form[model.JrRuleForm], ruleNames: List[String], breadcrumbs: String)

@main("Welcome to Play 2.0") {

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a id="titleLink" class="brand" href="/">Rules</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="formContainer">
            <div class="ruleContainer">
            @helper.form(action = routes.Application.doRuleAction(), 'class -> "well form-horizontal") {
                @helper.inputText(ruleForm("ruleName"), '_label -> "Rule Name")
                @helper.textarea(ruleForm("rule"), '_label -> "Rule", 'cols -> 450, 'rows -> 20, 'class -> "input-xxlarge")
                <div class="controls">
                    <input type="submit" name="action" value="Save" class="btn btn-primary"/>
                    <input type="submit" name="action" value="Run" class="btn btn-primary"/>
                </div>
            }
            </div>

            <div class="ruleNameContainer">
                <ul id="ruleNames">
                @for(name <- ruleNames) {
                    <li>@name</li>
                }
                </ul>
            </div>
        </div>

        <div class="breadcrumbContainer">
            <pre class="small">
            @breadcrumbs
            </pre>
            <hr/>
        </div>
    </div>
}
